# Build artifacts.
/bin/

# Test artifacts.
coverage.out
**/bundle*.tar
sha256sum.txt
/test/operator-test.*
**/publish.tmp.*
**/test-output
**/.metadata.json

# Logs.
**/.openshift_bundle.log

# Local vendor. Remove when ready to vendor dependencies.
/vendor/

# Local
.idea

# Local imageset-config.yaml
imageset-config.yaml
