# Build artifacts.
/bin/
/cmd/oc-mirror/oc-mirror-v2

# Test artifacts.
coverage.out
**/mirror*.tar
sha256sum.txt
/test/e2e/operator-test.*
**/publish.tmp.*
**/test-output
**/.metadata.json
oc-mirror-workspace/
v2/working-dir/
v2/tests/hold-test-untar
v2/tests/results
v2/build/
v2/cmd/mirror/logs/
v2/cmd/mirror/working-dir/
v2/launch.json
v2/logs/
v2/pkg/release/release.log
v2/.scannerwork/
v2/imagebuilder/test/
v2/pkg/cli/registry.log
v2/tests/graph-staging/cincinnati-graph-data.tar
pkg/image/testdata/v2/single_manifest/manifests/oc-mirror
olm_artifacts/
isc*.yaml

# Logs.
**/.oc-mirror.log

# Local vendor. Remove when ready to vendor dependencies.
#/vendor/

# Local
.idea
tags
# only ignore tags file, not tags directory
!tags/
*.swp
.vscode

# Local imageset-config.yaml
imageset-config.yaml

# Local integration test files
__pycache__
*.pyc
.venv
.requirements
.built
test/integration/collections
test/integration/bin
test/integration/output/*
!test/integration/output/.gitkeep
test/integration/ci

