# Build artifacts.
/bin/

# Test artifacts.
coverage.out
**/bundle*.tar.gz
sha256sum.txt
/test/operator-test.*
**/publish.tmp.*
**/test-output

# Logs.
**/.openshift_bundle.log

# Local vendor. Remove when ready to vendor dependencies.
/vendor/

